<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="nav-container">

        <div class="left">
            <div class="logo">
                <a href="/profile"><h2>Pinterest</h2></a>
            </div>
        </div>
        <div class="right">
            <div class="inner-right"><a href="/profile">Profile</a></div>
            <div class="inner-right"><a href="/feed">Feed</a></div>
            <div class="nav-btn"><a href="/logout">Logout</a></div>
        </div>

</div>