<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Posts</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>
    <%- include("navbar"); %>
        <div class="card-container">
            <% user.posts.forEach((elem)=>{ %>

                <div class="cards">
                    <div class="card pins">
                        <div class="each-card">
                            <img src="/images/uploads/<%= elem.image %>" alt="">
                        </div>
                        <div class="card-info">
                            <h5><%= elem.title %></h5>

                        </div>
                    </div>
                </div>
              <%  }) %>
        </div>
</body>

</html>